@{
    ViewData["Title"] = "Contact";
}
<div>
    <br />
    <br />
    <h2>Contact Us Here</h2>
    
    <address>
        One Two Three Easy Street<br />
        Elyria, Oh 44126-6399<br />
        <abbr title="Phone">P:</abbr>
        555.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>