@{
    ViewData["Title"] = "Home Page";
}


<main class="container">
    <section id="textbody">
        <article>
            <h2>Cleveland Browns Fan Blog</h2>
            <img src="~/Images1/cleveland-1625471_1920.jpg" alt="Cover" />
            <p>
                This Blog tells the stories of the men that have joined the exclusive club of being a Cleveland Brown. Players featured are from all generations including Paul Warfield and Jim Brown to Baker Mayfield and others. You’ll hear the stories that got them onto the field and what Cleveland football was and is to them. Each week during the season a new interview will be released. Audio will be available as a podcast as well as a complimentary in-depth article and photo gallery.
            </p>
        </article>
    </section>
</main>
