@{
    ViewData["Title"] = "Home Page";
}


<div>

    <h1>Brownies on the Bridge</hr>
        <h3>A view of the Season from atop the bridge</h3>

    <div class="item">
        <img src="~/css/bridge1.jpg" alt="Cover" />

        
    </div>
</div>